.login {
  font-family: "Dosis", sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.title-form {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}
.title-email {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}
.tamaño-imagen {
  width: 100%;
  height: 590px;
  border-radius: 20px;
}
.form-login {
  font-size: 40px;
}
.form-control {
  font-size: 20px;
}

@media (max-width: 767px) {
  .login {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .login {
    padding-top: 50px; /* Ajusta el padding superior para centrar el contenido */
  }
}
